/*! NO TOCAR 👇👇👇 */
/*! NO TOCAR 👇👇👇 */
/*! NO TOCAR 👇👇👇 */
/*! NO TOCAR 👇👇👇 */
/* Tamaños de fuente */
/* Tamaños de fuente */
$font-xs: 1.2rem;
$font-sm: 1.4rem;
$font-base: 1.6rem;
$font-lg: 1.8rem;
$font-xl: 2rem;
$font-2xl: 2.4rem;
$font-3xl: 3rem;
$font-4xl: 3.6rem;
/* Tamaños de fuente */
/* Tamaños de fuente */

/* media queries */
/* media queries */
$mobile-s: 340px;
$mobile-m: 370px;
$mobile-l: 410px;
$tablet-m: 576px;
$tablet-l: 768px;
$desktop-s: 992px;
$desktop-m: 1200px;
$desktop-l: 1400px;
/* media queries */
/* media queries */

/* paddings */
/* paddings */
$padding-1: 4px;
$padding-2: 8px;
$padding-3: 12px;
$padding-4: 16px;
$padding-5: 20px;
$padding-6: 24px;
$padding-7: 28px;
$padding-8: 32px;
/* paddings */
/* paddings */

/* margins */
/* margins */
$margin-1: 4px;
$margin-2: 8px;
$margin-3: 12px;
$margin-4: 16px;
$margin-5: 20px;
$margin-6: 24px;
$margin-7: 28px;
$margin-8: 32px;
/* margins */
/* margins */

/* gap */
/* gap */
$gap-1: 4px;
$gap-2: 8px;
$gap-3: 12px;
$gap-4: 16px;
$gap-5: 20px;
$gap-6: 24px;
/* gap */
/* gap */

/* z-index */
/* z-index */
$z-index-min: 1;
$z-index-max: 100;
/* z-index */
/* z-index */
/*! NO TOCAR 👆👆👆 */
/*! NO TOCAR 👆👆👆 */
/*! NO TOCAR 👆👆👆 */
/*! NO TOCAR 👆👆👆 */
