@keyframes fillText {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.animate-fill {
  animation: fillText 2s ease-out infinite;
}
