.main__auth {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100dvh;

  @media (width > 800px) {
    flex-direction: row;

    &.main__auth--invert {
      flex-direction: row-reverse;
    }
  }
}

.main__auth--content {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px;

  @media (width > 800px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  @media (width > 1200px) {
    min-height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
}

.main__auth--content-picture {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;

  &::before {
    position: absolute;
    content: "";
    background: linear-gradient(
      180deg,
      rgba(3, 3, 3, 0.3239889705882353) 0%,
      rgba(3, 3, 3, 0.7) 80%,
      rgba(3, 3, 3, 1) 100%
    );
    width: 100%;
    height: 80vh;
    z-index: 1;
  }

  @media (width > 800px) {
    width: 50vw;
    height: 100%;

    &::before {
      width: 50vw;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(3, 3, 3, 0) 0%,
        rgba(3, 3, 3, 0.85) 80%,
        rgba(3, 3, 3, 1) 100%
      );
    }
  }
}

.main__auth--content-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__auth--container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  padding: 20px 0px;
  max-width: 400px;

  @media (width > 1200px) {
    max-width: 620px;
  }
}

.main__auth--container-title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}

.main__auth--container-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  @media (width > 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    padding-bottom: 70px;
  }
}

.main__auth--container-list-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #ffffff;
  opacity: 0;
  /* transition: all 1s; */
  animation: opacityAnimation 1s forwards;

  &:nth-child(2) {
    animation-delay: 300ms;
  }
  &:nth-child(3) {
    animation-delay: 700ms;
  }
  &:nth-child(4) {
    /* Corregido el número del nth-child */
    animation-delay: 1200ms;
  }

  svg {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    background-color: #3f83f8;
    padding: 2px;
    border-radius: 50%;
    color: white;

    @media (width > 1200px) {
      margin-top: 4px;
    }
  }

  @media (width > 1200px) {
    align-items: flex-start;
  }
}

.main__auth--modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 10;
  width: 95%;

  @media (width > 800px) {
    min-height: 100vh;
    width: 100%;
    background-color: white;
  }
}

.container__element {
  height: fit-content;
}

.container__login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  z-index: 10;
  border-radius: 12px;
  overflow: hidden;
  margin: 0px 0px 20px;
  box-shadow: 0 1px 2px hsla(210, 18%, 4%, 0.14),
    0 1px 2px hsla(210, 18%, 4%, 0.14);
  height: fit-content;

  @media (width > 800px) {
    box-shadow: none;
  }
}

.login__element {
  padding: 24px;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
