.azteli-player-wrapper {
  --plyr-color-main: #4f46e5 !important;
  --plyr-video-control-item-hover-color: #4f46e5 !important;
  --plyr-focus-visible-color: #4f46e5 !important;
  --plyr-range-track-height: 4px;
  --plyr-control-radius: 8px;

  border-radius: 0.75rem;
}

.azteli-player-wrapper .plyr {
  border-radius: 0.75rem;
}
