/** @format */

:root {
  /** Custom 👇👇👇 */
  /** Custom 👇👇👇 */
  /** Custom 👇👇👇 */
  --color-1: #ffe4ec;
  --color-2: #ffc1d5;
  --color-3: #fa8fb1;
  --color-4: #fc6998;
  --color-5: #f74780;
  --color-6: #f21d72;

  --color-scheme-1: #48beff;
  --color-scheme-2: #6f58c9;
  --color-scheme-3: #fc6998;
  --color-scheme-4: #57a773;
  --color-scheme-5: #f7b267;

  --color-shade-1: #2f2f2f;
  --color-shade-2: #6d6d6d;
  --color-shade-3: #b0b0b0;
  --color-shade-4: #d3d3d3;
  --color-shade-5: #f5f5f5;
  /* max-width */
  --max-width: 1400px;
  /* max-width */

  /* border-radius */
  --border-radius-1: 4px;
  --border-radius-2: 8px;
  /* border-radius */

  /* Fuentes */
  --font-family-1: sans-serif;
  /* Fuentes */

  /* Backgrounds */
  --background-1: var(--color-1);
  --background-2: var(--color-2);
  --background-3: var(--color-3);
  --background-4: var(--color-4);
  --background-5: var(--color-5);
  --background-6: var(--color-6);
  /* Backgrounds */

  /* Colores  */
  --color-text-1: var(--color-shade-1);
  --color-text-2: var(--color-shade-5);
  --color-text-3: var(--color-4);
  --color-text-4: var(--color-scheme-1);
  --color-text-5: var(--color-6);
  /* Colores  */

  /* Botones */
  --button-color-text-1: var(--color-1);
  --button-color-text-2: var(--color-1);

  --button-background-1: var(--color-1);
  --button-background-2: var(--color-1);

  --button-border-radius-1: var(--border-radius-1);
  --button-border-radius-2: var(--border-radius-1);

  /* Botones */

  /* Shadows */
  --box-shadow-1: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  /* Shadows */

  /** Custom 👆👆👆 */
  /** Custom 👆👆👆 */
  /** Custom 👆👆👆 */

  /*! NO TOCAR 👇👇👇 */
  /*! NO TOCAR 👇👇👇 */
  /*! NO TOCAR 👇👇👇 */
  /*! NO TOCAR 👇👇👇 */
  /* Tamaños de fuente */
  /* Tamaños de fuente */
  --font-xs: 1.2rem;
  --font-sm: 1.4rem;
  --font-base: 1.6rem;
  --font-lg: 1.8rem;
  --font-xl: 2rem;
  --font-2xl: 2.4rem;
  --font-3xl: 3rem;
  --font-4xl: 3.6rem;
  /* Tamaños de fuente */
  /* Tamaños de fuente */

  /* media queries */
  /* media queries */
  --mobile-s: 340px;
  --mobile-m: 370px;
  --mobile-l: 410px;
  --tablet-m: 576px;
  --tablet-l: 768px;
  --desktop-s: 992px;
  --desktop-m: 1200px;
  --desktop-l: 1400px;
  /* media queries */
  /* media queries */

  /* paddings */
  /* paddings */
  --padding-1: 4px;
  --padding-2: 8px;
  --padding-3: 12px;
  --padding-4: 16px;
  --padding-5: 20px;
  --padding-6: 24px;
  --padding-7: 28px;
  --padding-8: 32px;
  /* paddings */
  /* paddings */

  /* margins */
  /* margins */
  --margin-1: 4px;
  --margin-2: 8px;
  --margin-3: 12px;
  --margin-4: 16px;
  --margin-5: 20px;
  --margin-6: 24px;
  --margin-7: 28px;
  --margin-8: 32px;
  /* margins */
  /* margins */

  /* gap */
  /* gap */
  --gap-1: 4px;
  --gap-2: 8px;
  --gap-3: 12px;
  --gap-4: 16px;
  --gap-5: 20px;
  --gap-6: 24px;
  /* gap */
  /* gap */

  /* z-index */
  /* z-index */
  --z-index-min: 1;
  --z-index-max: 100;
  /* z-index */
  /* z-index */
  /*! NO TOCAR 👆👆👆 */
  /*! NO TOCAR 👆👆👆 */
  /*! NO TOCAR 👆👆👆 */
  /*! NO TOCAR 👆👆👆 */
}
